@use "themes/dark";
@use "themes/light";
@use "variables/global";
@use "reset";

.app {
  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
