:root {
  --font-family-main: sans-serif;

  --font-size-s: 8px;
  --line-height-s: 16px;
  --font-s: (--font-size-s) / (--line-height-s) (--font-family-main);

  --line-height-m: 24px;
  --font-size-m: 16px;
  --font-m: (--font-size-m) / (--line-height-m) (--font-family-main);


  --line-height-l: 32px;
  --font-size-l: 24px;
  --font-l: (--font-size-l) / (--line-height-l) (--font-family-main);

  // Element sizes
  --navbar-size: 50px;
}
