.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--inverted-bg-color);
  z-index: 999;
  backdrop-filter: blur(8px);

  .loader {
    position: relative;
    left: 50%;
    top: 50%;
  }
}
