.navbar {
  background-color: var(--inverted-bg-color);
  height: (--navbar-size);
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;

  &__right {
    margin-left: auto;
  }
}

.links {
  display: flex;
  gap: 4px;
}
